<div class="tag-container" style="text-align: center; margin-bottom: 20px;">
  <div class="tag-list">
    {% assign group = include.tag_group %}
    
    <a href="/{{ group }}/" class="tag {% unless page.autopage %}selected{% endunless %}" style="margin: 5px; padding: 5px 10px; border: 1px solid #ddd; border-radius: 5px; text-decoration: none; display: inline-block;">
      ALL
    </a>

    {% for t in site.data.tags[group] %}
      {% assign t_slug = t | slugify %}
      <a href="/tag/{{ t_slug }}/" 
         class="tag {% if page.url contains t_slug %}selected{% endif %}"
         style="margin: 5px; padding: 5px 10px; border: 1px solid #ddd; border-radius: 5px; text-decoration: none; display: inline-block;">
        {{ t }}
      </a>
    {% endfor %}
  </div>
</div>

<style>
  .tag.selected { background-color: #333; color: #fff !important; }
</style>