<div class="main">
    <div class="main-banner">
        <div class="content">
            <div class="overlay"></div>
            <div class="text-wrapper">
                <div class="sub-title">
                    <span class="no-wrap">
                        게임 개발이 너무나도 좋은 개발자,
                    </span>
                </div>
                <div class="main-title">
                    <span class="no-wrap">
                        <a href="https://github.com/FuJiGraphics/" target="_blank">FuJiGraphics</a>의
                    </span>
                    <span class="no-wrap">
                        개발 블로그입니다.
                    </span>
                </div>
                <br/>
                <div class="description">
                      학습한 내용들을 정리하고 공유합니다.<br />
                </div>
            </div>
        </div>
    </div>
</div>
