<div class="pagination" style="text-align: center; margin-top: 30px;">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="pagination_button">&lt;</a>
    {% endif %}

    {% for i in (1..paginator.total_pages) %}
        {% if i == paginator.page %}
            <span class="pagination_button_select" style="font-weight: bold; border-bottom: 2px solid #333;">{{ i }}</span>
        {% elsif i == 1 %}
            <a href="{{ paginator.baseurl | replace: '//', '/' }}"><span class="pagination_button">1</span></a>
        {% else %}
            <a href="{{ paginator.baseurl | append: '/page/' | append: i | append: '/' | replace: '//', '/' }}"><span class="pagination_button">{{ i }}</span></a>
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="pagination_button">&gt;</a>
    {% endif %}
</div>