{% assign post_item = include.post | default: page %}

<li class="catalogue2-item list"
    {% if post_item.tags %}
        {% for tag in post_item.tags %}
            data-{{ tag }}
        {% endfor %}
    {% endif %}>
    
    <div class="img-wrap">
        <a href="{{ post_item.url | relative_url }}">
            {% assign date_str = post_item.date | date: '%Y-%m-%d' %}
            <img src="{{ '/assets/blog/' | append: date_str | append: '-TechPost/' | append: post_item.image | relative_url }}" 
                 class="catalogue2-img" 
                 style="cursor:pointer"
                 onerror="this.onerror=null; this.src='{{ '/assets/default-thumbnail.png' | relative_url }}';"/>
        </a>
    </div>

    <div class="centents-wrap">
        <a href="{{ post_item.url | relative_url }}">
            {% if post_item.draft == true %}
            <span class="catalogue2-tag">Coming Soon</span>
            {% endif %}

            <div class="catalogue2-info transition">
                <h1 class="catalogue2-title">
                    {{ post_item.title }}
                    {% comment %} 
                       타이틀 바로 옆에 해시태그를 띄우기 위해 이 위치로 옮겼습니다. 
                    {% endcomment %}
                    <span class="post-header-tags" style="font-size: 0.5em; vertical-align: middle; margin-left: 10px;">
                        {% include post-list-hashtag.html post=post_item %}
                    </span>
                </h1>
                <p class="catalogue2-sub">{{ post_item.subtitle }}</p>
                <p class="catalogue2-date">{{ post_item.date | date : '%Y.%m.%d.' }}</p>
                <p class="catalogue2-body">
                    {{ post_item.content | strip_html | truncate: 65 }}
                </p>
            </div>
        </a>
    </div>
</li>