<div class="post-list-tags">
    {% if page.tags %}
        {% for tag in page.tags %}
            {% if page.type == 'algorithm' %}
                <a class="tag_a" data-tag="{{ tag }}" href="/algorithm/?tag={{ tag }}">
                    <span class="tag" data-tag="{{ tag }}">{{ tag }}</span>
                </a>
            {% else %}
                <a class="tag_a" data-tag="{{ tag }}" href="/tech/?tag={{ tag }}">
                    <span class="tag" data-tag="{{ tag }}">{{ tag }}</span>
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>