{% assign writer = site.data.members | where: 'id', page.writer | first %}
<div class='post-footer'>
  <div class="member_card">
    <div class="thumbnail-container">
      <div class='thumbnail' id="MyThumbnail">
        {% assign thumbnail = site.static_files | where: 'basename', writer.id | first %}
        <img class='profile' src='https://avatars.githubusercontent.com/u/116561683'/>

          <script>
            thumbnail = document.getElementById('MyThumbnail')
            thumbnail.addEventListener('click', () => {
              location.href = "https://github.com/FuJiGraphics"
            })
          </script>
        <div class='emoji'>
          <span>{{writer.emoji}}</span>
        </div>
      </div>
      <div class='name'>{{writer.name}}</div>
    </div>
    <div class='description'>
      <div class="footerTitle">Written BY FuJiGraphics</div>
      <div class="writerComment"><b>{{writer.comment}}</b></div>
      {{writer.greeting}}<br /><br />
      <b>Contact</b> : <a href="mailto:chlcjfwls1@naver.com" class="post-no-highlight-link">chlcjfwls1@naver.com</a><br />
      <b>GitHub</b> : <a href="https://github.com/FuJiGraphics" class="post-no-highlight-link">https://github.com/FuJiGraphics</a><br />
      </div>
  </div>

</div>
