---
layout: main
title: 알고리즘
main: true
pagination:
  enabled: true
  collection: posts
  category: algorithm
---

<div class="loading-animation2">
  {% include hashtag.html base_url="/algorithm" tag_group="algorithm" %}

  <ul class="catalogue">
    {% for page in paginator.posts %}
      {% include post-list.html %}
    {% endfor %}

    {% if paginator.posts.size == 0 %}
      <p style="text-align: center; padding: 50px 0;">작성된 글이 없습니다.</p>
    {% endif %}

    {% include pagination.html %}
  </ul>
</div>