---
layout: main
---
<div class="loading-animation2">
  {% assign current_cat = page.category | default: paginator.posts.first.categories[0] %}
  {% include hashtag.html tag_group=current_cat %}

  <ul class="catalogue">
    {% for post in paginator.posts %}
      {% include post-list.html post=post %}
    {% endfor %}

    {% include post-list-empty.html %}

    {% if paginator.posts.size == 0 %}
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var emptyDiv = document.getElementById('emptyDiv');
          if (emptyDiv) {
            emptyDiv.classList.remove('hiddenEmptyDiv');
            emptyDiv.style.display = 'block';
          }
        });
      </script>
    {% endif %}
  </ul>

  {% include pagination.html %}
</div>